/* COLORS */

$pink: #f38181;
$yellow: #fce38a;
$lime: #eaffd0;
$turquoise: #95e1d3;
$dark-turqoise: #2ac7aa;
$grey: #e5e5e5;
$white: #ffffff;
$black: #000000;

/* BREAKPOINTS */

$bp-desktop: 1200px;
$bp-1000: 1000px;
$bp-800: 800px;
