@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Montserrat:wght@400;700&family=Roboto:ital,wght@0,400;1,300&display=swap");
@import "_variables.scss";
@import "_layout.scss";
@import "_utils.scss";

/* NAVBAR */

.navbar {
  position: fixed;
  width: 100%;
  padding: 30px 0;
  transition: all 0.3s ease;
  z-index: 999;
}

.navbar.sticky {
  padding: 15px 0;
  background: rgba(243, 129, 129, 0.7);
  border-bottom: 2px solid $yellow;
}

.navbar .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .logo a {
  color: $white;
  font-size: 30px;
  font-weight: 700;
  transition: all 0.3s ease;

  &:hover {
    color: $yellow;
  }
}

.navbar .menu li {
  list-style: none;
  display: inline-block;
  margin-left: 50px;

  @media (max-width: 1000px) {
    display: block;
    margin-left: 0;
  }
}

.navbar .menu li a {
  color: $white;
  position: relative;

  &:hover {
    color: $yellow;
  }

  &::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    bottom: -6px;
    left: 0;
    background-color: $yellow;
    transform: scaleX(0);
    transition: transform 0.3s ease;
  }

  &:hover::before {
    transform: scaleX(1);
  }

  @media (max-width: 1000px) {
    display: inline-block;
    margin: 20px 0;
    font-size: 24px;
    font-weight: 600;
  }
}

.navbar .menu li a img {
  min-width: 18px;
  max-width: 18px;
  min-height: 18px;
  max-height: 18px;
  filter: invert(100%) sepia(0%) saturate(1078%) hue-rotate(358deg)
    brightness(113%) contrast(100%);

  &:hover {
    filter: invert(83%) sepia(38%) saturate(467%) hue-rotate(347deg)
      brightness(103%) contrast(102%);
  }

  @media (max-width: 1000px) {
    display: none;
  }
}

.navbar .menu li:first-child {
  margin-left: 0;
}

.navbar .logo .greyer {
  color: $light-grey;
  margin-left: 5px;
}

/* NAVBAR MOBILE */

.menu-mobile {
  font-size: 22px;
  cursor: pointer;
  display: none;
}

@media (max-width: 1000px) {
  .menu-mobile {
    display: block;
    z-index: 101;
  }

  .menu-mobile i {
    color: $white;
  }

  .menu-mobile i.menu-show:before {
    content: "\f00d";
  }

  .navbar .menu {
    position: fixed;
    background: rgba(243, 129, 129, 0.8);
    height: 100vh;
    width: 100%;
    left: 0;
    top: -100%;
    text-align: center;
    padding-top: 100px;
    transition: all 0.3s ease;
  }

  .navbar .menu.menu-show {
    top: 0;
  }
}

@media (max-width: $bp-desktop) {
  .container {
    padding: 0 20px;
  }
}

/* HEADER */

header {
  height: 100%;
  background-image: linear-gradient(
      to bottom,
      rgba(243, 129, 129, 0.8),
      rgba(252, 227, 138, 0.8)
    ),
    url("assets/images/eagle.png");
  background-size: cover;
  background-position: center;
  margin-bottom: 80px;
}

/* MAIN */

#services .grid-container {
  margin-bottom: 100px;

  @media (max-width: $bp-tablet) {
    grid-template-columns: 1fr 1fr;
  }

  @media (max-width: $bp-500) {
    grid-template-columns: 1fr;
  }
}

.service-item {
  padding: 0 30px;
  display: flex;
}

.service-item img {
  min-width: 32px;
  max-width: 32px;
  min-height: 32px;
  max-height: 32px;
  margin-right: 28px;
}

#team .grid-container {
  column-gap: 28px;
  margin-bottom: 80px;

  @media (max-width: $bp-tablet) {
    grid-template-columns: 1fr;
  }
}

.team-item {
  text-align: center;
}

.team-image {
  background-repeat: no-repeat;
  background-color: $turquoise;
  width: 100%;
  min-height: 471px;
  margin-bottom: 30px;
  transition: all 0.3s ease;
  position: relative;

  &__matthew {
    background-image: url("assets/images/matthew.png");
    background-position-x: 20%;

    &:hover {
      background-image: linear-gradient(
          to bottom,
          rgba(243, 129, 129, 0.85),
          rgba(252, 227, 138, 0.85)
        ),
        url("assets/images/matthew.png");
      transform: translate(-10px, -10px);
    }
  }

  &__christopher {
    background-image: url("assets/images/christopher.png");
    background-position-y: bottom;
    background-position-x: center;

    &:hover {
      background-image: linear-gradient(
          to bottom,
          rgba(243, 129, 129, 0.85),
          rgba(252, 227, 138, 0.85)
        ),
        url("assets/images/christopher.png");
      transform: translate(-10px, -10px);
    }
  }

  &__michael {
    background-image: url("assets/images/michael.png");
    background-position-x: center;

    &:hover {
      background-image: linear-gradient(
          to bottom,
          rgba(243, 129, 129, 0.85),
          rgba(252, 227, 138, 0.85)
        ),
        url("assets/images/michael.png");
      transform: translate(-10px, -10px);
    }
  }
}

.social-media {
  display: none;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;

  & i {
    min-width: 57px;
    max-width: 57px;
    min-height: 57px;
    height: 57px;
    max-height: 57px;
    font-size: 26px;
    line-height: 57px;
  }

  &__facebook {
    color: $pink;
    background-color: $yellow;
    transition: all 0.3s ease;
    border-right: 1px solid $pink;

    &:hover {
      color: white;
      background-color: $pink;
    }
  }

  &__twitter {
    color: $pink;
    background-color: $yellow;
    transition: all 0.3s ease;
    border-right: 1px solid $pink;

    &:hover {
      color: white;
      background-color: $pink;
    }
  }

  &__pinterest {
    color: $pink;
    background-color: $yellow;
    transition: all 0.3s ease;
    border-right: 1px solid $pink;

    &:hover {
      color: white;
      background-color: $pink;
    }
  }

  &__instagram {
    color: $pink;
    background-color: $yellow;
    transition: all 0.3s ease;

    &:hover {
      color: white;
      background-color: $pink;
    }
  }
}

#team .description:last-child {
  font-weight: 300;
  font-style: italic;
  padding-top: 14px;
}

/* FOOTER */

footer .container {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $bp-tablet) {
    justify-content: space-between;
    flex-direction: row;
  }
}

footer .footer-name {
  color: $black;
}

.newsletter {
  display: flex;
  flex-direction: column;
  padding: 10px 0;

  @media (min-width: $bp-400) {
    flex-direction: row;
  }
}

.newsletter input {
  border-radius: 0;
  padding: 14px;
  border-color: $light-grey;
  max-height: 41px;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  margin-bottom: 10px;

  @media (min-width: $bp-400) {
    margin-bottom: 0;
  }
}

section .title {
  position: relative;
  text-align: center;
  font-size: 30px;
  line-height: 30px;
  font-weight: 700;
  margin-bottom: 100px;
}

section .title::before {
  content: "";
  position: absolute;
  width: 60px;
  bottom: -40px;
  left: 50%;
  height: 3px;
  background: $pink;
  transform: translateX(-50%);
}
