@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Montserrat:wght@400;700&family=Roboto:ital,wght@0,400;1,300&display=swap");
/* COLORS */
/* BREAKPOINTS */
/* LAYOUT */
/* line 3, ../../../../../../../../../../../../../Users/codenight-jz/Documents/Projects/Mogo/scss/_layout.scss */
.container {
  max-width: 1200px;
  margin: 0 auto;
}

/* line 8, ../../../../../../../../../../../../../Users/codenight-jz/Documents/Projects/Mogo/scss/_layout.scss */
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

/* line 15, ../../../../../../../../../../../../../Users/codenight-jz/Documents/Projects/Mogo/scss/_layout.scss */
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 100px;
}

@media (max-width: 768px) {
  /* line 15, ../../../../../../../../../../../../../Users/codenight-jz/Documents/Projects/Mogo/scss/_layout.scss */
  .grid-container {
    row-gap: 40px;
  }
}

/* line 25, ../../../../../../../../../../../../../Users/codenight-jz/Documents/Projects/Mogo/scss/_layout.scss */
.welcome-container {
  padding-top: 150px;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

/* COLORS */
/* BREAKPOINTS */
/* line 3, ../../../../../../../../../../../../../Users/codenight-jz/Documents/Projects/Mogo/scss/_utils.scss */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* line 9, ../../../../../../../../../../../../../Users/codenight-jz/Documents/Projects/Mogo/scss/_utils.scss */
html,
body {
  height: 100%;
}

/* line 14, ../../../../../../../../../../../../../Users/codenight-jz/Documents/Projects/Mogo/scss/_utils.scss */
img {
  max-width: 100%;
  vertical-align: middle;
}

/* line 19, ../../../../../../../../../../../../../Users/codenight-jz/Documents/Projects/Mogo/scss/_utils.scss */
body {
  font-family: "Montserrat", sans-serif;
  background: #ffffff;
  color: #333333;
  font-size: 14px;
  font-weight: 400;
}

/* line 27, ../../../../../../../../../../../../../Users/codenight-jz/Documents/Projects/Mogo/scss/_utils.scss */
a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

/* line 33, ../../../../../../../../../../../../../Users/codenight-jz/Documents/Projects/Mogo/scss/_utils.scss */
a:hover {
  color: inherit;
}

/* line 37, ../../../../../../../../../../../../../Users/codenight-jz/Documents/Projects/Mogo/scss/_utils.scss */
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* line 43, ../../../../../../../../../../../../../Users/codenight-jz/Documents/Projects/Mogo/scss/_utils.scss */
p {
  margin: 0;
}

/* line 47, ../../../../../../../../../../../../../Users/codenight-jz/Documents/Projects/Mogo/scss/_utils.scss */
hr {
  width: 100%;
  color: #999999;
  background-color: #999999;
  border: none;
  height: 2px;
}

/* line 55, ../../../../../../../../../../../../../Users/codenight-jz/Documents/Projects/Mogo/scss/_utils.scss */
.text-align-center {
  text-align: center;
}

/* line 59, ../../../../../../../../../../../../../Users/codenight-jz/Documents/Projects/Mogo/scss/_utils.scss */
.disabled-scroll {
  overflow: hidden;
}

/* TEXT AND LABELS */
/* line 65, ../../../../../../../../../../../../../Users/codenight-jz/Documents/Projects/Mogo/scss/_utils.scss */
.label {
  color: #ffffff;
}

/* line 68, ../../../../../../../../../../../../../Users/codenight-jz/Documents/Projects/Mogo/scss/_utils.scss */
.label--black {
  color: #000000;
}

/* line 72, ../../../../../../../../../../../../../Users/codenight-jz/Documents/Projects/Mogo/scss/_utils.scss */
.label__title {
  font-family: "Kaushan Script", cursive;
  font-size: 42px;
  line-height: 36px;
  padding-bottom: 22px;
  text-align: center;
}

@media (min-width: 1000px) {
  /* line 72, ../../../../../../../../../../../../../Users/codenight-jz/Documents/Projects/Mogo/scss/_utils.scss */
  .label__title {
    font-size: 72px;
    line-height: 72px;
    padding-bottom: 50px;
  }
}

/* line 85, ../../../../../../../../../../../../../Users/codenight-jz/Documents/Projects/Mogo/scss/_utils.scss */
.label__title--small {
  font-size: 24px;
  line-height: 24px;
  padding: 22px;
}

/* line 92, ../../../../../../../../../../../../../Users/codenight-jz/Documents/Projects/Mogo/scss/_utils.scss */
.label__welcome {
  font-size: 62px;
  line-height: 62px;
  font-weight: 700;
  padding-bottom: 36px;
  max-width: 849px;
}

@media (min-width: 768px) {
  /* line 92, ../../../../../../../../../../../../../Users/codenight-jz/Documents/Projects/Mogo/scss/_utils.scss */
  .label__welcome {
    padding-bottom: 100px;
  }
}

@media (min-width: 1000px) {
  /* line 92, ../../../../../../../../../../../../../Users/codenight-jz/Documents/Projects/Mogo/scss/_utils.scss */
  .label__welcome {
    font-size: 150px;
    line-height: 140px;
  }
}

/* line 110, ../../../../../../../../../../../../../Users/codenight-jz/Documents/Projects/Mogo/scss/_utils.scss */
.name {
  line-height: 14px;
}

/* line 114, ../../../../../../../../../../../../../Users/codenight-jz/Documents/Projects/Mogo/scss/_utils.scss */
.description {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  line-height: 24px;
  padding-top: 18px;
  color: #999999;
}

/* BUTTONS */
/* line 124, ../../../../../../../../../../../../../Users/codenight-jz/Documents/Projects/Mogo/scss/_utils.scss */
.btn {
  display: inline-block;
  cursor: pointer;
  transition: all 0.3s ease-in;
  color: #ffffff;
}

/* line 130, ../../../../../../../../../../../../../Users/codenight-jz/Documents/Projects/Mogo/scss/_utils.scss */
.btn__learn-more {
  padding: 16px 32px;
  background-color: transparent;
  border: 2px solid #ffffff;
  line-height: 14px;
  font-weight: 700;
}

/* line 137, ../../../../../../../../../../../../../Users/codenight-jz/Documents/Projects/Mogo/scss/_utils.scss */
.btn__learn-more:hover {
  color: #fce38a;
  border-color: #fce38a;
}

/* line 143, ../../../../../../../../../../../../../Users/codenight-jz/Documents/Projects/Mogo/scss/_utils.scss */
.btn__subscribe {
  height: 41px;
  background-color: #95e1d3;
  font-weight: 700;
  line-height: 14px;
  border: none;
  padding: 12px 34px;
}

/* line 151, ../../../../../../../../../../../../../Users/codenight-jz/Documents/Projects/Mogo/scss/_utils.scss */
.btn__subscribe:hover {
  background-color: #2ac7aa;
}

/* INPUTS */
/* line 159, ../../../../../../../../../../../../../Users/codenight-jz/Documents/Projects/Mogo/scss/_utils.scss */
input:focus {
  outline: none;
}

/* MARGINS AND PADDINGS */
/* line 165, ../../../../../../../../../../../../../Users/codenight-jz/Documents/Projects/Mogo/scss/_utils.scss */
.mb-90 {
  margin-bottom: 90px;
}

/* SECTIONS */
/* line 171, ../../../../../../../../../../../../../Users/codenight-jz/Documents/Projects/Mogo/scss/_utils.scss */
section .title {
  position: relative;
  text-align: center;
  font-size: 30px;
  line-height: 30px;
  font-weight: 700;
  margin-bottom: 100px;
}

/* line 180, ../../../../../../../../../../../../../Users/codenight-jz/Documents/Projects/Mogo/scss/_utils.scss */
section .title::before {
  content: "";
  position: absolute;
  width: 60px;
  bottom: -40px;
  left: 50%;
  height: 3px;
  background: #f38181;
  transform: translateX(-50%);
}

/* NAVBAR */
/* line 8, ../../../../../../../../../../../../../Users/codenight-jz/Documents/Projects/Mogo/scss/style.scss */
.navbar {
  position: fixed;
  width: 100%;
  padding: 30px 0;
  transition: all 0.3s ease;
  z-index: 999;
}

/* line 16, ../../../../../../../../../../../../../Users/codenight-jz/Documents/Projects/Mogo/scss/style.scss */
.navbar.sticky {
  padding: 15px 0;
  background: rgba(243, 129, 129, 0.7);
  border-bottom: 2px solid #fce38a;
}

/* line 22, ../../../../../../../../../../../../../Users/codenight-jz/Documents/Projects/Mogo/scss/style.scss */
.navbar .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* line 28, ../../../../../../../../../../../../../Users/codenight-jz/Documents/Projects/Mogo/scss/style.scss */
.navbar .logo a {
  color: #ffffff;
  font-size: 30px;
  font-weight: 700;
  transition: all 0.3s ease;
}

/* line 34, ../../../../../../../../../../../../../Users/codenight-jz/Documents/Projects/Mogo/scss/style.scss */
.navbar .logo a:hover {
  color: #fce38a;
}

/* line 39, ../../../../../../../../../../../../../Users/codenight-jz/Documents/Projects/Mogo/scss/style.scss */
.navbar .menu li {
  list-style: none;
  display: inline-block;
  margin-left: 50px;
}

@media (max-width: 1000px) {
  /* line 39, ../../../../../../../../../../../../../Users/codenight-jz/Documents/Projects/Mogo/scss/style.scss */
  .navbar .menu li {
    display: block;
    margin-left: 0;
  }
}

/* line 50, ../../../../../../../../../../../../../Users/codenight-jz/Documents/Projects/Mogo/scss/style.scss */
.navbar .menu li a {
  color: #ffffff;
  position: relative;
}

/* line 54, ../../../../../../../../../../../../../Users/codenight-jz/Documents/Projects/Mogo/scss/style.scss */
.navbar .menu li a:hover {
  color: #fce38a;
}

/* line 58, ../../../../../../../../../../../../../Users/codenight-jz/Documents/Projects/Mogo/scss/style.scss */
.navbar .menu li a::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: -6px;
  left: 0;
  background-color: #fce38a;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

/* line 71, ../../../../../../../../../../../../../Users/codenight-jz/Documents/Projects/Mogo/scss/style.scss */
.navbar .menu li a:hover::before {
  transform: scaleX(1);
}

@media (max-width: 1000px) {
  /* line 50, ../../../../../../../../../../../../../Users/codenight-jz/Documents/Projects/Mogo/scss/style.scss */
  .navbar .menu li a {
    display: inline-block;
    margin: 20px 0;
    font-size: 24px;
    font-weight: 600;
  }
}

/* line 83, ../../../../../../../../../../../../../Users/codenight-jz/Documents/Projects/Mogo/scss/style.scss */
.navbar .menu li a img {
  min-width: 18px;
  max-width: 18px;
  min-height: 18px;
  max-height: 18px;
  filter: invert(100%) sepia(0%) saturate(1078%) hue-rotate(358deg) brightness(113%) contrast(100%);
}

/* line 91, ../../../../../../../../../../../../../Users/codenight-jz/Documents/Projects/Mogo/scss/style.scss */
.navbar .menu li a img:hover {
  filter: invert(83%) sepia(38%) saturate(467%) hue-rotate(347deg) brightness(103%) contrast(102%);
}

@media (max-width: 1000px) {
  /* line 83, ../../../../../../../../../../../../../Users/codenight-jz/Documents/Projects/Mogo/scss/style.scss */
  .navbar .menu li a img {
    display: none;
  }
}

/* line 101, ../../../../../../../../../../../../../Users/codenight-jz/Documents/Projects/Mogo/scss/style.scss */
.navbar .menu li:first-child {
  margin-left: 0;
}

/* line 105, ../../../../../../../../../../../../../Users/codenight-jz/Documents/Projects/Mogo/scss/style.scss */
.navbar .logo .greyer {
  color: #e5e5e5;
  margin-left: 5px;
}

/* NAVBAR MOBILE */
/* line 112, ../../../../../../../../../../../../../Users/codenight-jz/Documents/Projects/Mogo/scss/style.scss */
.menu-mobile {
  font-size: 22px;
  cursor: pointer;
  display: none;
}

@media (max-width: 1000px) {
  /* line 119, ../../../../../../../../../../../../../Users/codenight-jz/Documents/Projects/Mogo/scss/style.scss */
  .menu-mobile {
    display: block;
    z-index: 101;
  }
  /* line 124, ../../../../../../../../../../../../../Users/codenight-jz/Documents/Projects/Mogo/scss/style.scss */
  .menu-mobile i {
    color: #ffffff;
  }
  /* line 128, ../../../../../../../../../../../../../Users/codenight-jz/Documents/Projects/Mogo/scss/style.scss */
  .menu-mobile i.menu-show:before {
    content: "\f00d";
  }
  /* line 132, ../../../../../../../../../../../../../Users/codenight-jz/Documents/Projects/Mogo/scss/style.scss */
  .navbar .menu {
    position: fixed;
    background: rgba(243, 129, 129, 0.8);
    height: 100vh;
    width: 100%;
    left: 0;
    top: -150%;
    text-align: center;
    padding-top: 100px;
    transition: all 0.3s ease;
  }
  /* line 144, ../../../../../../../../../../../../../Users/codenight-jz/Documents/Projects/Mogo/scss/style.scss */
  .navbar .menu.menu-show {
    top: 0;
  }
}

@media (max-width: 1200px) {
  /* line 150, ../../../../../../../../../../../../../Users/codenight-jz/Documents/Projects/Mogo/scss/style.scss */
  .container {
    padding: 0 20px;
  }
}

/* HEADER */
/* line 157, ../../../../../../../../../../../../../Users/codenight-jz/Documents/Projects/Mogo/scss/style.scss */
header {
  height: 100%;
  background-image: linear-gradient(to bottom, rgba(243, 129, 129, 0.8), rgba(252, 227, 138, 0.8)), url("assets/images/eagle.png");
  background-size: cover;
  background-position: center;
  margin-bottom: 80px;
}

/* MAIN */
/* line 172, ../../../../../../../../../../../../../Users/codenight-jz/Documents/Projects/Mogo/scss/style.scss */
#services .grid-container {
  margin-bottom: 100px;
}

@media (max-width: 768px) {
  /* line 172, ../../../../../../../../../../../../../Users/codenight-jz/Documents/Projects/Mogo/scss/style.scss */
  #services .grid-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 500px) {
  /* line 172, ../../../../../../../../../../../../../Users/codenight-jz/Documents/Projects/Mogo/scss/style.scss */
  #services .grid-container {
    grid-template-columns: 1fr;
  }
}

/* line 184, ../../../../../../../../../../../../../Users/codenight-jz/Documents/Projects/Mogo/scss/style.scss */
.service-item {
  padding: 0 30px;
  display: flex;
}

/* line 189, ../../../../../../../../../../../../../Users/codenight-jz/Documents/Projects/Mogo/scss/style.scss */
.service-item img {
  min-width: 32px;
  max-width: 32px;
  min-height: 32px;
  max-height: 32px;
  margin-right: 28px;
}

/* line 197, ../../../../../../../../../../../../../Users/codenight-jz/Documents/Projects/Mogo/scss/style.scss */
#team .grid-container {
  column-gap: 28px;
  margin-bottom: 80px;
}

@media (max-width: 768px) {
  /* line 197, ../../../../../../../../../../../../../Users/codenight-jz/Documents/Projects/Mogo/scss/style.scss */
  #team .grid-container {
    grid-template-columns: 1fr;
    margin-bottom: 32px;
  }
}

/* line 207, ../../../../../../../../../../../../../Users/codenight-jz/Documents/Projects/Mogo/scss/style.scss */
.team-item {
  text-align: center;
}

/* line 211, ../../../../../../../../../../../../../Users/codenight-jz/Documents/Projects/Mogo/scss/style.scss */
.team-image {
  background-repeat: no-repeat;
  background-color: #95e1d3;
  width: 100%;
  min-height: 471px;
  margin-bottom: 30px;
  transition: all 0.3s ease;
  position: relative;
}

/* line 220, ../../../../../../../../../../../../../Users/codenight-jz/Documents/Projects/Mogo/scss/style.scss */
.team-image__matthew {
  background-image: url("assets/images/matthew.png");
  background-position-x: 20%;
}

/* line 224, ../../../../../../../../../../../../../Users/codenight-jz/Documents/Projects/Mogo/scss/style.scss */
.team-image__matthew:hover {
  background-image: linear-gradient(to bottom, rgba(243, 129, 129, 0.85), rgba(252, 227, 138, 0.85)), url("assets/images/matthew.png");
  transform: translate(-10px, -10px);
}

/* line 235, ../../../../../../../../../../../../../Users/codenight-jz/Documents/Projects/Mogo/scss/style.scss */
.team-image__christopher {
  background-image: url("assets/images/christopher.png");
  background-position-y: bottom;
  background-position-x: center;
}

/* line 240, ../../../../../../../../../../../../../Users/codenight-jz/Documents/Projects/Mogo/scss/style.scss */
.team-image__christopher:hover {
  background-image: linear-gradient(to bottom, rgba(243, 129, 129, 0.85), rgba(252, 227, 138, 0.85)), url("assets/images/christopher.png");
  transform: translate(-10px, -10px);
}

/* line 251, ../../../../../../../../../../../../../Users/codenight-jz/Documents/Projects/Mogo/scss/style.scss */
.team-image__michael {
  background-image: url("assets/images/michael.png");
  background-position-x: center;
}

/* line 255, ../../../../../../../../../../../../../Users/codenight-jz/Documents/Projects/Mogo/scss/style.scss */
.team-image__michael:hover {
  background-image: linear-gradient(to bottom, rgba(243, 129, 129, 0.85), rgba(252, 227, 138, 0.85)), url("assets/images/michael.png");
  transform: translate(-10px, -10px);
}

/* line 267, ../../../../../../../../../../../../../Users/codenight-jz/Documents/Projects/Mogo/scss/style.scss */
.social-media {
  display: none;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

/* line 275, ../../../../../../../../../../../../../Users/codenight-jz/Documents/Projects/Mogo/scss/style.scss */
.social-media i {
  min-width: 57px;
  max-width: 57px;
  min-height: 57px;
  max-height: 57px;
  font-size: 26px;
  line-height: 57px;
}

/* line 284, ../../../../../../../../../../../../../Users/codenight-jz/Documents/Projects/Mogo/scss/style.scss */
.social-media__icon {
  color: #f38181;
  background-color: #fce38a;
  transition: all 0.3s ease;
  border-right: 1px solid #f38181;
}

/* line 290, ../../../../../../../../../../../../../Users/codenight-jz/Documents/Projects/Mogo/scss/style.scss */
.social-media__icon:hover {
  color: white;
  background-color: #f38181;
}

/* line 295, ../../../../../../../../../../../../../Users/codenight-jz/Documents/Projects/Mogo/scss/style.scss */
.social-media__icon:last-child {
  border: none;
}

/* line 301, ../../../../../../../../../../../../../Users/codenight-jz/Documents/Projects/Mogo/scss/style.scss */
#team .description:last-child {
  font-weight: 300;
  font-style: italic;
  padding-top: 14px;
}

/* line 307, ../../../../../../../../../../../../../Users/codenight-jz/Documents/Projects/Mogo/scss/style.scss */
#team hr {
  margin-bottom: 24px;
}

@media (min-width: 768px) {
  /* line 307, ../../../../../../../../../../../../../Users/codenight-jz/Documents/Projects/Mogo/scss/style.scss */
  #team hr {
    margin-bottom: 0;
  }
}

/* FOOTER */
/* line 317, ../../../../../../../../../../../../../Users/codenight-jz/Documents/Projects/Mogo/scss/style.scss */
footer .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 768px) {
  /* line 317, ../../../../../../../../../../../../../Users/codenight-jz/Documents/Projects/Mogo/scss/style.scss */
  footer .container {
    justify-content: space-between;
    flex-direction: row;
  }
}

/* line 328, ../../../../../../../../../../../../../Users/codenight-jz/Documents/Projects/Mogo/scss/style.scss */
footer .footer-name {
  color: #000000;
}

/* line 332, ../../../../../../../../../../../../../Users/codenight-jz/Documents/Projects/Mogo/scss/style.scss */
.newsletter {
  display: flex;
  flex-direction: column;
  padding: 10px 0;
}

@media (min-width: 400px) {
  /* line 332, ../../../../../../../../../../../../../Users/codenight-jz/Documents/Projects/Mogo/scss/style.scss */
  .newsletter {
    flex-direction: row;
  }
}

/* line 342, ../../../../../../../../../../../../../Users/codenight-jz/Documents/Projects/Mogo/scss/style.scss */
.newsletter input {
  border-radius: 0;
  padding: 14px;
  border-color: #e5e5e5;
  max-height: 41px;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  margin-bottom: 10px;
}

@media (min-width: 400px) {
  /* line 342, ../../../../../../../../../../../../../Users/codenight-jz/Documents/Projects/Mogo/scss/style.scss */
  .newsletter input {
    margin-bottom: 0;
  }
}

/*# sourceMappingURL=style.css.map */